html {
	margin: 3em;
	background-color: 000; # lowest is 0, highest is f
	line-height: 4.0em;
	color: red; # to change the font color
}


/* Links are `a` elements in HTML */
a {
	text-decoration: italic;
	margin: 0 0.5em 0 0;
	padding: 3px;
 }

/* :hover	 is what it will look like when you hover the mouse over an element */
a:hover {
	background-color: red;
	border: 2px solid red ;
}

/* You can define any color with a 3-digit "hex-code" */
/* The three values are from 0-F, and represent Red, Green, Blue */
header {
	color: #f00;
	text-align: center;
	font-size: 300%;
}

article {
	border: 4px ridge orange;
	padding: 3em;
}

/* Styles attached to element-names apply to _every_ element
	 with that name */
div {
	border: 2px none #fff;
	padding: 5px;
}

/* To specify style for only _some_ elements
	 you can identify them by classes (the classes have to be
	 in the HTML)
*/
div.cts_corpus {
	border: 5px ridge 200;
}


/* You can specify just a class name… */
.cts_workTitle {
	font-style: oblique;
}

/* Fonts are tricky… read about them online! */
.cts_citationScheme {
	color: white ;
	font-family: DejaVu-Sans-Mono, monospace;
}

.cts_corpusTitle {
	color: red ; // didnt want a title
	border: 2px solid red;
}

/* You can add space on any side of something with:
		- margin-right
		- margin-left
		- margin-top
		- margin-bottom

*/
.cts_ref {
	margin-right: 2em;
	opacity: 0.5;
}

.cts_node {
	margin-top: 1em;
	max-width: 150em;
}

progress.cts_progress {
	width: 100%;
}
